.esr-form-builder {
  font-family: "Helvetica", sans-serif;
  /* start commented backslash hack \*/
  /* close commented backslash hack */
}
.esr-form-builder ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.esr-form-builder * {
  box-sizing: border-box;
}
.esr-form-builder .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.esr-form-builder .clearfix {
  display: inline-block;
}
.esr-form-builder * html .clearfix {
  height: 1%;
}
.esr-form-builder .clearfix {
  display: block;
}
.esr-form-builder .esr-form-placer {
  width: 500px;
  min-height: 300px;
  padding-bottom: 30px;
  position: relative;
}
.esr-form-builder .esr-form-placer .esr-element {
  color: #fff;
  background-color: gray;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
.esr-form-builder .esr-form-placer .esr-element .esr-element-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.esr-form-builder .esr-form-placer .esr-element .esr-element-buttons ul {
  display: inline-block;
}
.esr-form-builder .esr-form-placer .esr-element .esr-element-buttons ul .esr-element-button {
  cursor: pointer;
  list-style: none;
  text-align: center;
  float: left;
  padding: 0 5px;
}
.esr-form-builder .esr-form-placer .esr-element .esr-element-buttons ul .esr-element-button i {
  color: #fff;
  padding: 5px 0;
}
.esr-form-builder .esr-form-placer .esr-add-rows {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
}
.esr-form-builder .esr-form-placer .esr-add-rows .esr-add-row-options {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 18px;
}
.esr-form-builder .esr-form-placer .esr-row {
  width: 100%;
  min-height: 80px;
  background: lightgray;
  margin: 10px 0;
  padding: 5px;
  position: relative;
}
.esr-form-builder .esr-form-placer .esr-row .esr-remove-row {
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightgray;
  z-index: 100;
  padding: 0 5px;
  cursor: pointer;
}
.esr-form-builder .esr-form-placer .esr-row .esr-column {
  display: block;
  border: 1px dashed;
  position: relative;
  min-height: 66px;
}
.esr-form-builder .esr-form-placer .esr-row .esr-column .esr-add-element {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  left: 2px;
}
.esr-form-builder .esr-form-placer .esr-row.esr-columns-2 .esr-column {
  width: 49%;
  float: left;
}
.esr-form-builder .esr-form-placer .esr-row.esr-columns-2 .esr-column:last-child {
  float: right;
}
.esr-form-builder .esr-inputs {
  display: none;
  position: absolute;
  z-index: 999;
  background: #fff;
}
.esr-form-builder .esr-element-editor {
  display: none;
}
