.esr-form-builder {
  font-family: "Helvetica", sans-serif;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  * {
    box-sizing: border-box;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  .esr-form-placer {
    width: 500px;
    min-height: 300px;
    padding-bottom: 30px;
    position: relative;

    .esr-element {
      color: #fff;
      background-color: gray;
      margin: 10px 0;
      padding: 10px;
      position: relative;

      .esr-element-buttons {
        position: absolute;
        top: 0;
        right: 0;

        ul {
          display: inline-block;

          .esr-element-button {
            cursor: pointer;
            list-style: none;
            text-align: center;
            float: left;
            padding: 0 5px;

            i {
              color: #fff;
              padding: 5px 0;
            }
          }
        }
      }
    }

    .esr-add-rows {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      width: 100%;

      .esr-add-row-options {
        position: absolute;
        background: #fff;
        width: 100%;
        top: 18px;
      }
    }

    .esr-row {
      width: 100%;
      min-height: 80px;
      background: lightgray;
      margin: 10px 0;
      padding: 5px;
      position: relative;

      .esr-remove-row {
        position: absolute;
        right: 0;
        top: 0;
        background-color: lightgray;
        z-index: 100;
        padding: 0 5px;
        cursor: pointer;
      }

      .esr-column {
        display: block;
        border: 1px dashed;
        position: relative;
        min-height: 66px;

        .esr-add-element {
          position: absolute;
          bottom: 0;
          font-size: 14px;
          left: 2px;
        }
      }

      &.esr-columns-2 {
        .esr-column {
          width: 49%;
          float: left;

          &:last-child {
            float: right;
          }
        }
      }
    }
  }

  .esr-inputs {
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
  }

  .esr-element-editor {
    display: none;
  }
}